@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.container {
  &.average {
    background-color: #FFFFD8;
  }

  &.bad {
    background-color: #FF9AA2;
  }

  height: 100vh;
  width: 100vw;
  background-color: #B5EAD7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin: 0;
  font-size: 70px;
  text-align: center;
}

.additional-info {
  text-align: center;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
}

.update-button {
  background: none;
  border: 1px solid#828282;
  border-radius: 2px;
  height: 30px;
  font-weight: 700;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


.data-button {
  background: none;
  border: 1px solid#828282;
  border-radius: 2px;
  height: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}

.update-button:hover {
  background-color:#828282;
  color: white;
}

.data-button:hover {
  background-color:#828282;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 40px;
}

.github-logo-link {
  margin: 10px;
}

.github-logo {
  height: 30px;
  margin: 10px;
}

.data-container {
  background-color: black;
  color: white;
  margin: 10px;
}

.data-text {
  font-size: 10px;
}
